<a href="https://colab.research.google.com/github/rishi-29-02/cadCAD/blob/master/boston_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
# import libraries
import pandas as pd
import numpy as  np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
# loading the Boston house pricing dataset from sklearn.datasets
from sklearn.datasets import load_boston
boston = load_boston()
print(boston)

In [ ]:
# transform the datasets into dataframe
df_x = pd.DataFrame(boston.data, columns = boston.feature_names)
df_y = pd.DataFrame(boston.target)
pd.set_option('display.width', 1000000)
print(df_y)

In [67]:
# Get some statistics from the data
df_x.describe(include='all')

             CRIM          ZN       INDUS        CHAS         NOX          RM         AGE         DIS         RAD         TAX     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634   68.574901    3.795043    9.549407  408.237154   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617   28.148861    2.105710    8.707259  168.537116    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000    2.900000    1.129600    1.000000  187.000000   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500   45.025000    2.100175    4.000000  279.000000   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500   77.500000    3.207450    5.000000  330.000000   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000    0.000000    0.624000    6.623500   94.075000    5.188425   24.000000  666.000000   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000  100.000000   12.126500   24.000000  711.000000   22.000000  396.900000   37.970000

In [68]:
# Initialize the Linear Regression model
reg = LinearRegression()

In [69]:
# Data preprocessing
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
rescaled_df_x = scalar.fit_transform(df_x)

In [70]:
# Splitting the data
x_train, x_test, y_train, y_test = train_test_split(rescaled_df_x, df_y, test_size=0.33, random_state=7)

In [71]:
# train the model
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Print the the coefficients 
print(reg.coef_)

In [ ]:
# Making the predictions and printing 
pred = reg.predict(x_test)
print(pred)

In [74]:
# Evaluating the predictions
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, pred))

25.322307423586206